#principal {
    border: solid 5px #e91111;
    padding: 5px;
    margin: 0 auto;
    width: 85%;
    background: #9ee0dbee ;
    padding-bottom: 9px;

}

fieldset {
    margin-bottom:10px ;
}

legend {
    border: solid 2px #0932e9;
    padding: 5px;
    font-weight: bold;
    background: #c9a5394c;
    

}

#logo {
    border: solid 2px;
    margin: 10px;

}

body{
    background:url(../CV/Fotos/foto.jpg);
    
}